.form {
    /*Bloco 2*/
    border: none;
    display: flex;
    flex-direction: column;
    max-width: 385px;
    margin-bottom: 120px;
  }
  
  .form__item {
    /*Bloco 3*/
  }
  
  .form__label {
    /*Bloco 4*/
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 8px;
    margin-top: 32px;
    display: flex;
    align-items: baseline;
    display: flex;
    align-items: baseline;
  }
  
  .form__input {
    /*Bloco 5*/
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .form__button {
    /*Bloco 6*/
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
    border-radius: 4px;
    width: 385px;
    color: #ffffff;
    background-color: #2f80ed;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form__button:hover {
    opacity: 0.7;
  }
  
  .form__label_checkbox {
    /*Bloco 7*/
    margin-top: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .form__input-checkbox {
    border-radius: 2px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }