.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin: 100px 0px 0px 80px;
  padding: 0%;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0px 80px 80px;
  padding: 0%;
  font-family: "Noto Serif", "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 215px;
}

.recipes__video-item {
  align-items: center;
  border: none;
  overflow: hidden;
}

.recipes__iframe {
  display: flex;
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 0;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.recipes__video-caption-time {
  display: flex;
  display: inline-block;
}
