.page {
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: 'inter' , arial , sans-serif;
font-size: 16px;
line-height: 20px;
background-color:#ffffff;
background-image: url('../images/background_header.svg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.nav__logo{
    position: relative;
}

.nav__links {
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
    margin: 8px 0 0;
    color: #2f80ed;
    margin-right: 80px;
    row-gap: 20px;
  }
  
  .nav__link {
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
   
   
  }
 
  .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  color: #000;

  }

  

  .header__title{
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    margin-top: 183;
    letter-spacing: -1px;
   

  }

  .header__span-accent{
    font-family: 'noto serif';
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2f80ed;
    display:block;
    max-width: 709px;
    
  }

  .header__description{
    font-family: 'noto serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin-top: 28px;

  }
  
  .header__image{
    width: 646px;
    height: 568px;
    z-index: 1;
    position: absolute;
    top: 124px;
    right:5px;
  }
 
  .header__footer{
    font-family: 'inter';
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: flex-end;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    margin-bottom: 40px;
    margin-right: 80px;
  }

  .header__paragraph{
    justify-content: flex-end;
    margin:0;
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: #0a2850;
    background-image: url("../images/background_recipes.svg");
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .recipes {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .recipes__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: white;
    padding-top: 100px;
    padding-left: 80px;
    padding-bottom: 24px;
    max-width: 580px;
    margin: 0;
  }
  
  .recipes__subtitle {
    font-family: "Noto Serif", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding-left: 80px;
    padding-bottom: 80px;
    max-width: 438px;
  }
  
  .recipes__videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 40px;
    padding-bottom: 215px;
  }
  
  .recipes__video-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  
  .recipes__iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 273px;
  }
  
  .recipes__video-caption {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .recipes__video-captiontext {
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  
